<h1>Topページ</h1>

<main>
  <div class="container">
    <div class="row">

      <div class="col-md-3">
      </div>

      <div class="col-md-8">
        <p class="mx-auto" style="width: 400px; height: 300px;">
          ようこそ、ながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。
        </p>

        <table class="table">
          <tbody>
            <tr>
              <th>item1</th>
              <th>item2</th>
              <th>item3</th>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>
</main>

